* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Georgia", serif;
  background-color: #edeae6;
  color: #111;
}

.page {
  min-height: 100vh;
}

.navbar {
  height: 64px;
  background: linear-gradient(#111, #000);
  color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 64px;
}

.nav-logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.nav-socials {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.nav-social-link:hover {
  color: #ffdd99;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.9;
}

.nav-links a:hover {
  opacity: 1;
  color: #ffdd99;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 120px;
  margin-top: 50px;
}

.hero-text h1 {
  font-size: 85px;      
  font-weight: 500;
  margin-bottom: 24px;
}

.hero-text p {
  font-size: 25px;   
  line-height: 1.65;     
  margin-bottom: 40px;
  color: #2b2b2b;
  max-width: 420px;      
}

.cv-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  background: white;
  border: 1px solid #d0d0d0;
  border-radius: 999px;
  padding: 10px 18px;

  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.cv-button:hover {
  background: #ffdd99;
}

.cv-icon {
  font-size: 16px;
  line-height: 1;
}


/* Image */
.hero-image img {
  border-radius: 50%;
  object-fit: cover;
  height: 420px;
  width: 350px;
}
